@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.whole {
  max-height: 100vh;
}

.header {
  background-color: #D468FF;
  height: 13vh;
  display: flex;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.header img {
  height: 4rem;

}

.header h2 {
  margin-left: 10rem;
}

.box {
  background-color: #f7f7f7;
}

.para {
  height: 15vh;
}

.para h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  color: #ad28ad;
}

.para p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  color: #5f637f;
  font-size: 1.3rem;
}

.container {
  background-color: white;
  height: 73vh;
  padding: 1rem;
}

.wrapper {
  height: 59vh;
  border: 1px solid #d6d3d1;
  border-radius: 5px;
  padding: 1rem;
}

.wrapper .text-input {
  display: flex;
  border-bottom: 1px solid #ccc;
  height: 50vh;
}
.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #ccc;
}
.text-input textarea {
  height: 350px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}
.text-input textarea::placeholder {
  color: #b7b6b6;
}
.controls,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls {
  list-style: none;
  padding: 12px 15px;
}
.controls .row .icons {
  width: 38%;
}
.controls .row .icons i {
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}
.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}
.controls .row.to .icons {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.controls .row select {
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}
.text-input textarea::-webkit-scrollbar {
  width: 4px;
}
.controls .row select::-webkit-scrollbar {
  width: 8px;
}
.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #fff;
}
.text-input textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}
.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.controls .exchange {
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.controls i:active {
  transform: scale(0.9);
}
.container button {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 17px;
  border-radius: 5px;
  background: #a02cba;
}
@media (max-width: 660px) {
  .container {
    padding: 20px;
  }
  .wrapper .text-input {
    flex-direction: column;
  }
  .text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #ccc;
  }
  .text-input textarea {
    height: 200px;
  }
  .controls .row .icons {
    display: none;
  }
  .container button {
    padding: 13px;
    font-size: 16px;
  }
  .controls .row select {
    font-size: 16px;
  }
  .controls .exchange {
    font-size: 14px;
  }
}

.footer {
  background-color: #0F0732;
  height: 80vh;
  color: white;
}

.footer img {
  height: 5rem;
  margin: 1rem;
}

.footer p {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  padding-top: 0rem;
  font-size: 1.2rem;
}

.policy {
  display: flex;
  align-items: center;
  padding-left: 5rem;
  padding-top: 8rem;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.policy p1 {
  padding-left: 5rem;
}

.policy p2 {
  padding-left: 50rem;
}

.policy p3 {
  padding-left: 5rem;
}
